body {
    background-image: url('bg.jpg');
    background-size: cover;
  }

.titre{
    color: coral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    position:fixed;
    left: 600px;
}

.abc{
 position: fixed;
 left:500px;
 top:300px;
 color: red;   
 font-size:40px ;
 font-family: Arial, Helvetica, sans-serif;
}

.efg{
        position: fixed;
        left:500px;
        top:500px;
        color: red;   
        font-size: 40px ;
        font-family: Arial, Helvetica, sans-serif;
}

.hij{
    position: fixed;
    left:800px;
    top:300px;
    color: red;   
    font-size: 40px ;
    font-family: Arial, Helvetica, sans-serif;
}
.klm{
    position: fixed;
    left:800px;
    top:500px;
    color: red;   
    font-size: 40px ;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}